@if (showModal) {
  <div class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
          <h3 class="text-3xl font-semibold">
            ELEVATOR
          </h3>
          <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto px-16">
          <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
            Current Floor: {{ elevator?.currentFloor }}
          </p>

          <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
            Last target Floor: {{ elevator?.nextSelectedFloor }}
          </p>

          <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
            State: {{ elevator?.elevatorState }}
          </p>

          <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
            Occupancy: {{ elevator?.currentOccupancy }}
          </p>

          <div class="my-4 flex flex-row items-center flex-wrap gap-4">
            <p class="w-full my-4 text-blueGray-500 text-lg leading-relaxed">
              Target Floors
            </p>
            @for (target of getTargetFloors(); track target) {
              <div class="w-[45px] h-[45px] aspect-square flex-center bg-primary text-sm text-accent rounded-full"> <p>{{ target }}</p> </div>
            } @empty {
              <div>No target floors selected</div>
            }
          </div>

          <div class="my-4 flex flex-row items-center flex-wrap gap-4">
            <p class="my-4 text-blueGray-500 text-lg leading-relaxed w-full">
              Pick up calls from floors (UP):
            </p>
            @for (target of getPickupCallFloorsUp(); track target) {
              <div class="w-[45px] h-[45px] aspect-square flex-center bg-primary text-sm text-accent rounded-full"> <p>{{ target }}</p> </div>
            } @empty {
              <div>No pick up calls from any floor</div>
            }
          </div>


          <div class="my-4 flex flex-row items-center flex-wrap gap-4">
            <p class="my-4 text-blueGray-500 text-lg leading-relaxed w-full">
              Pick up calls from floors (DOWN):
            </p>
            @for (floor of getPickupCallFloorsDown(); track floor) {
              <div class="w-[45px] h-[45px] aspect-square flex-center bg-blue-600 text-sm text-accent rounded-[5px]"> <p>{{ floor }}</p> </div>
            } @empty {
              <div>No pick up calls from any floor</div>
            }
          </div>


        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
          <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
}

@if(showModal) {
  <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
}
