$primary-color: rgba(25,34,23,.9);
$primary: #f2edd7ff;
$secondary: #313131;
$bg: #eaeaea;

$fontfamily: Arial, sans-serif;

$shadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadow2: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
$shadow3: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
$shadow4: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

$card-color: rgba(243, 243, 243, 0.5);
$minor-text-color: #313131;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
