<div class="col-span-1 grid grid-cols-1 gap-4">
  @for(floor of Array.from({ length:  numberOfFloors }).keys(); track floor) {
    <div class="col-span-1 flex-center bg-accent h-[8vh] border-2 border-primary rounded-md">
      @if( numberOfFloors - elevator.currentFloor -1 == floor) {
        <img
          (click)="selectElevator()"
          src="/elevator_icon.png"
          alt="elevator icon"
          class="h-full aspect-square cursor-pointer"
        />
      }
    </div>
  }
    <div class="col-span-1 grid grid-cols-2 bg-primary h-[8vh] text-sm text-accent rounded-md resize-container">
      <div class="flex-center col-span-1-or-full">
        <h2>Elevator {{ elevatorIndex }}</h2>
      </div>
      <div class="flex flex-col items-center justify-center only-when-big-container">
        <div> <b>Current Floor:</b> {{ elevator.currentFloor }}</div>
        <div> <b>Elevator State:</b> {{ elevator.elevatorState }}</div>
        <div> <b>Elevator Occupancy:</b> {{ elevator.currentOccupancy }}</div>
        <div> <b>Elevator Last Target:</b> {{ elevator.nextSelectedFloor }}</div>
      </div>
    </div>
</div>
