<nav class="absolute top-0 left-0 flex flex-row justify-center w-full h-24 flex items-center justify-between bg-primary px-6 text-lg font-medium text-primary-foreground shadow transition-colors">
<!--  <div class="flex items-center">-->
    <a
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="text-white px-4 py-2 hover:bg-accent/10 rounded transition"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="fill-accent" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
      </svg>
    </a>
    <a
      routerLink="/simulation"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="text-white px-4 py-2 hover:bg-accent/10 rounded transition"
    >
      Simulation
    </a>
<!--  </div>-->
</nav>
